.content {
    max-width: 92rem;
    margin: auto;

    p {
	font-size: 2rem;
    }

    h3 {
	color: $blue;
    }

    .highlight {
	padding: 1rem;

	@media only screen and (min-width: 1120px) {
	    border-radius: 5px;
	}
    }

    .tutorial-link {
	text-align: center;
	font-size: 3.90625rem;
	text-transform: uppercase;
	padding: 3rem 0;
	margin-bottom: 2rem;
    }
}
