header {
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);

    h1 {
	font-size: 10rem;
	line-height: 6rem;

	small {
	    font-size: 2.2rem;
	    color: $yellow;
	}
    }

    #dotclub {
	text-align: right;

	a {
	    color: $yellow;
	    font-size: 1.5em;
	    margin: 0 1rem 0 0;
	}
    }

    #header-content {
	margin: 2rem 0 0 0;
	a, a:visited, a:hover, a:focus {
	    color: $white;
	    text-decoration: none;
	}
    }
}


header, footer {
    background-color: $red;
    padding: 1rem 0;
    text-align: center;
    color: $white;

    span {
	display: inline-block;
	width: 100%;
	line-height: unset;
    }
}

footer {
    padding: 3rem 0;

    .social-list {
	display: table;
	margin: 1rem auto 2rem auto;;
	padding: 0;
	list-style-type: none;

	li {
	    display: table-cell;
	    padding-right: 2rem;
	}
    }
    .social-list:last-child {
	padding-right: 0;
    }
}
