header {
    text-shadow: $header-text-shadow;

    #pug {
	height: 8rem;
	margin-bottom: 2rem;
    }

    h1 {
	font-size: 8rem;
	margin: 1.5rem 0;

	@media only screen and (min-width: 700px) {
	    font-size: 10rem;
	}

	line-height: 6rem;

	small {
	    font-size: 2.2rem;
	    color: $yellow;
	}
    }

    #dotclub {
	text-align: right;

	a {
	    color: $yellow;
	    font-size: 1.5em;
	    margin: 0 1rem 0 0;
	}
    }

    #header-content {
	margin: 2rem 0 0 0;
	a, a:visited, a:hover, a:focus {
	    color: $white;
	    text-decoration: none;
	}
    }
}


header, footer {
    background-color: $red;
    padding: 1rem 0;
    text-align: center;
    color: $white;

    span {
	display: inline-block;
	width: 100%;
	line-height: unset;
    }
}


$footer-social-stop: 500px;


footer {
	padding: 3rem 0;
	@media only screen and (max-width: $gutter-stop) {
		padding: 3rem 1rem;
	}

	.social-list {
		display: inline-flex;
		align-items: center;
		gap: 10px;
	}

	a.club, a.club:visited, a.club:hover, a.club:focus {
		color: $white;
	}
}
