$banner-height: 6rem;
$pdoc-mobile-stop: 700px;

#banner {
    background-color: $red;
    height: $banner-height;
    text-shadow: $header-text-shadow;

    a, a:visited, a:hover, a:focus {
	color: $white;
	text-decoration: none;
    }


    h1, h3 {
	line-height: $banner-height;
    }

    h1 {
	float: left;
	margin: 0 0 0 30px;
	@media only screen and (max-width: $pdoc-mobile-stop) {
	    margin: 0 0 0 20px;
	}
    }

    h3 {
	float: right;
	color: $yellow;
	margin: 0 30px 0 0;

	@media only screen and (max-width: 424px) {
	    span {
		display: none;
	    }
	}
    }
}
